<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Classic Motor Days 2016</a>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                <li>{{#link-to 'watches'}}Zeiten stoppen{{/link-to}}</li>
                </li>
                <li>{{#link-to 'laps'}}Messungen{{/link-to}}</li>
                </li>
                <li>{{#link-to 'winners'}}Auswertung{{/link-to}}</li>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{outlet}}
